<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="..\static\favicon.ico">
    <link rel="stylesheet" href="..\static\style.css">
    <title>PJI310 | Ambiente interativo</title>
</head>
<body>
    <h1>S4C | Bem-vindo ao Sistema</h1>
      
    <form class="form-index" action="/" method="POST">
        <h2>Selecione uma opção</h2>
        <button class="btn-index" name="action" type="Submit" value="P1">Cadastro</button>
        <button class="btn-index" name="action" type="Submit" value="P2">Apontamento</button>
        <button class="btn-index" name="action" type="Submit" value="P3">Bordo</button>
    </form>
</body>
</html>
